$mobile-breakpoint: 7in;

#root {
  max-width: 9.5in;
  margin: 0 auto;
  padding: 0.5in;
  box-sizing: border-box;
  min-height: 100vh;
  display: grid;
  gap: 1rem;
  grid-template-rows: min-content 1fr min-content;
  background: #fff;
  font-size: 0.875em;
}

@media print {
  #root {
    padding: 0;
    max-width: none;
    max-height: none;
    height: none;
    width: none;
    box-shadow: none;
    background: none;
  }

  a {
    color: inherit;
  }

  main {
    margin-bottom: 3rem;
  }

  footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

header {
  display: flex;

  flex-direction: column;

  @media (min-width: $mobile-breakpoint) {
    align-items: start;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 2rem;
  }
}

a {
  text-decoration: none;
}

h1 {
  text-align: center;
  font-size: 14vw;
  line-height: 1;
  margin: 0 0 1.5rem;
  padding: 0;
  font-family: var(--head-font);
  font-weight: 100;

  @media (min-width: $mobile-breakpoint) {
    text-align: left;
    font-size: 5.55em;
    margin: 0;
    white-space: nowrap;

    line-height: 0.8;
  }

  span {
    &.last-name {
      font-weight: 300;

      &::before {
        content: ' ';
      }
    }
  }
}

h2 {
  font-family: var(--mono-font);
  text-transform: uppercase;
  font-size: 2em;

  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: #ffffff99;
  backdrop-filter: blur(3px);
  padding: 0.5ch 0;
  z-index: 5;
  border-bottom: solid 2px #fff;

  @media (min-width: $mobile-breakpoint) {
    padding: 0;
    font-size: 1.5em;
    align-self: flex-start;
  }
}

h3 {
  color: #000000cc;
  font-family: var(--mono-font);

  position: sticky;
  top: 3.5rem;
  left: 0;
  right: 0;
  background: #ffffff99;
  backdrop-filter: blur(3px);
  padding: 0.5ch 0;
  border-bottom: solid 2px #fff;

  @media (min-width: $mobile-breakpoint) {
    top: 0;
    padding: 0;
  }
}

.contact {
  font-family: var(--mono-font);
  font-size: 0.875em;
  display: flex;
  flex-direction: column;
  gap: 0.5ch;

  @media (min-width: $mobile-breakpoint) {
    text-align: right;
    display: block;
  }
}

main {
  section {
    position: relative;
    margin-bottom: 2rem;
  }

  @media (min-width: $mobile-breakpoint) {
    display: grid;
    gap: 0 2rem;
    grid-template-columns: max-content 1fr;
    align-content: start;

    section {
      display: grid;
      grid-column: 1 / -1;
      grid-template-columns: subgrid;

      & > * {
        grid-column: 2 / -1;
        page-break-inside: avoid;
      }

      & > :first-child {
        grid-column: 1 / 1;
      }
    }
  }
}

.mid-aligned-terms {
  padding: 0;
  margin: 0;

  @media (min-width: $mobile-breakpoint) {
    margin: 0 1em;
    display: grid;
    gap: 0 1ch;
    grid-template-columns: max-content 1fr;
    align-items: baseline;
  }

  li {
    list-style: none;
    margin-left: 2rem;

    @media (min-width: $mobile-breakpoint) {
      display: contents;
      margin: 0;
      padding: 0;
    }

    & + li {
      margin-top: 0.5em;
    }

    strong {
      display: block;
      font-weight: 500;
      color: #000000cc;
      font-size: 1em;
      margin-left: -1rem;

      @media (min-width: $mobile-breakpoint) {
        display: inline;
        text-align: right;

        &::after {
          content: ':';
          opacity: 0.75;
        }
      }
    }
  }
}

.experience {
  display: grid;
  gap: 0 2rem;
  grid-template-columns: 1fr max-content;
  grid-template-areas:
    'who   who'
    'where when'
    'what  what';
  margin-bottom: 2em;

  .who {
    grid-area: who;

    font-size: 1.3em;

    @media (min-width: $mobile-breakpoint) {
      font-size: 1.5em;
    }
  }
  .where {
    grid-area: where;
  }
  .when {
    grid-area: when;
  }
  .what {
    grid-area: what;
    margin-top: 1rem;
  }
}
