@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(0, 0, 0, 0.87);
  background-color: #f7f7f7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media print {
  :root {
    background-color: none;
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;

  --head-font: 'Rokkitt', serif;
  --body-font: 'Red Hat Display', sans-serif;
  --mono-font: 'Noto Sans Mono', monospace;

  --heading-color: rgb(38, 153, 152);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  margin: 0;
  padding: 0;
  font-family: var(--head-font);
  color: var(--heading-color);
  font-weight: normal;
}

p {
  font-size: 1em;
  margin: 0;
  padding: 0;
}

body,
button,
select,
textarea,
input {
  font-family: var(--body-font);
}

@media (min-width: 7in) {
  .columns.two {
    column-count: 2;

    li {
      -webkit-column-break-inside: avoid;
    }
  }
}

ul {
  margin: 0;
}
